body{
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #022330;
}

header{
    margin-top: 16px;
    margin-bottom: 48px;
}

h1{
    font-size: 64px;
    margin-bottom: 16px;
    color: whitesmoke;
}

header a{
    color: #e7cbcb;
    margin-right: 16px;
    text-decoration: none;
    border-bottom: 1px solid whitesmoke;
    padding-bottom: 3px;
}

header a:hover{
    color: rgb(158, 216, 104);
}

.portrait{
    width: 300px;
}

.main-content {
    flex-grow: 1;
}

.main-content>p{
    color: rgb(158, 216, 104);
}

footer {
    color: #e7d0d0;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
}

input {
    border: 1px solid #cccccc;
    padding: 8px;
    border-radius: 5px;
    text-decoration: none;
}

button {
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #888888;
    color: whitesmoke;
    background: rgb(214, 84, 84);
    padding: 8px;
    outline: none;
}

button:hover{
    color:  rgb(20, 0, 0);
    background: rgb(115, 177, 34);
}